# 1.Import necessary packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# 2.Load the file

In [2]:
inc_exp = pd.read_csv("Inc_Exp_Data.csv")

# 3.Analyze the data

In [3]:
inc_exp.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

# 4.What is the Mean Expense of a Household?

# 5.What is the Median Household Expense?

# 6.What is the Monthly Expense for most of the Households?

# 7.Plot the Histogram to count the Highest qualified member

# 8.Calculate IQR(difference between 75% and 25% quartile)

# 9.Calculate Standard Deviation for first 4 columns.

# 10.Calculate Variance for first 3 columns.

# 11.Calculate the count of Highest qualified member.

# 12.Plot the Histogram to count the No_of_Earning_Members

# 13.Suppose you have option to invest in Stock A or Stock B. The stocks â€¢ have different expected returns and standard deviations. The expected return of Stock A is 15% and Stock B is 10%. Standard Deviation of the returns of these stocks is 10% and 5% respectively.

Which is better investment?